ul.aside__list.aside__list_page
    li.aside__item
        h4.aside__subject.aside__subject_obj Александры Монаховойр 98 к 1
        .aside__text.aside__text_obj
            p Срок: 2 месяца. Стоимость 230 993 грн.
        a.aside__link-image(href="#")
            .aside__image-object
                .image-wrap
                    .image-wrap__zoom.image-wrap__zoom_obj
                        img.image-wrap__zoom-logo(alt="zoom" src="./assets/images/zoom.png")
    li.aside__item
        h4.aside__subject.aside__subject_obj Измайловский проезд, 10к2
        .aside__text.aside__text_obj
            p Срок: 15 дней
        a.aside__link-image(href="#")    
            .aside__image-object
                .image-wrap
                    .image-wrap__zoom.image-wrap__zoom_obj
                        img.image-wrap__zoom-logo(alt="zoom" src="./assets/images/zoom.png")
    li.aside__item
        h4.aside__subject.aside__subject_obj Дмитровское ш., д. 169
        .aside__text.aside__text_obj
            p Срок: 32 дня Стоимость: 246 000 грн.
        a.aside__link-image(href="#")
            .aside__image-object
                .image-wrap
                    .image-wrap__zoom.image-wrap__zoom_obj
                        img.image-wrap__zoom-logo(alt="zoom" src="./assets/images/zoom.png")
    li.aside__item
        h4.aside__subject.aside__subject_obj Ул. Турку д.11
        .aside__text.aside__text_obj
            p Срок: 12 дней. Стоимость: 57 980 грн.
        a.aside__link-image(href="#")
            .aside__image-object
                .image-wrap
                    .image-wrap__zoom.image-wrap__zoom_obj
                        img.image-wrap__zoom-logo(alt="zoom" src="./assets/images/zoom.png")
    li.aside__item
        h4.aside__subject.aside__subject_obj ул. Кораблестроителей
        .aside__text.aside__text_obj
            p Срок: 51 день Стоимость: 313 780 грн.
        a.aside__link-image(href="#")
            .aside__image-object
                .image-wrap
                    .image-wrap__zoom.image-wrap__zoom_obj
                        img.image-wrap__zoom-logo(alt="zoom" src="./assets/images/zoom.png")
    li.aside__item
        h4.aside__subject.aside__subject_obj пр.Маршала Блюхера д.9
        .aside__text.aside__text_obj
            p Срок: 47 дней. Стоимость: 171 985 грн.
        a.aside__link-image(href="#")
            .aside__image-object
                .image-wrap
                    .image-wrap__zoom.image-wrap__zoom_obj
                        img.image-wrap__zoom-logo(alt="zoom" src="./assets/images/zoom.png")
    li.aside__item
        h4.aside__subject.aside__subject_obj Александры Монаховойр 98 к 1
        .aside__text.aside__text_obj
            p Срок: 2 месяца. Стоимость 230 993 грн.
        a.aside__link-image(href="#")
            .aside__image-object
                .image-wrap
                    .image-wrap__zoom.image-wrap__zoom_obj
                        img.image-wrap__zoom-logo(alt="zoom" src="./assets/images/zoom.png")
    li.aside__item
        h4.aside__subject.aside__subject_obj Измайловский проезд, 10к2
        .aside__text.aside__text_obj
            p Срок: 15 дней
        a.aside__link-image(href="#")    
            .aside__image-object
                .image-wrap
                    .image-wrap__zoom.image-wrap__zoom_obj
                        img.image-wrap__zoom-logo(alt="zoom" src="./assets/images/zoom.png")
    li.aside__item
        h4.aside__subject.aside__subject_obj Дмитровское ш., д. 169
        .aside__text.aside__text_obj
            p Срок: 32 дня Стоимость: 246 000 грн.
        a.aside__link-image(href="#")
            .aside__image-object
                .image-wrap
                    .image-wrap__zoom.image-wrap__zoom_obj
                        img.image-wrap__zoom-logo(alt="zoom" src="./assets/images/zoom.png")
    li.aside__item
        h4.aside__subject.aside__subject_obj Ул. Турку д.11
        .aside__text.aside__text_obj
            p Срок: 12 дней. Стоимость: 57 980 грн.
        a.aside__link-image(href="#")
            .aside__image-object
                .image-wrap
                    .image-wrap__zoom.image-wrap__zoom_obj
                        img.image-wrap__zoom-logo(alt="zoom" src="./assets/images/zoom.png")
    li.aside__item
        h4.aside__subject.aside__subject_obj ул. Кораблестроителей
        .aside__text.aside__text_obj
            p Срок: 51 день Стоимость: 313 780 грн.
        a.aside__link-image(href="#")
            .aside__image-object
                .image-wrap
                    .image-wrap__zoom.image-wrap__zoom_obj
                        img.image-wrap__zoom-logo(alt="zoom" src="./assets/images/zoom.png")
    li.aside__item
        h4.aside__subject.aside__subject_obj пр.Маршала Блюхера д.9
        .aside__text.aside__text_obj
            p Срок: 47 дней. Стоимость: 171 985 грн.
        a.aside__link-image(href="#")
            .aside__image-object
                .image-wrap
                    .image-wrap__zoom.image-wrap__zoom_obj
                        img.image-wrap__zoom-logo(alt="zoom" src="./assets/images/zoom.png")
    li.aside__item
        h4.aside__subject.aside__subject_obj Александры Монаховойр 98 к 1
        .aside__text.aside__text_obj
            p Срок: 2 месяца. Стоимость 230 993 грн.
        a.aside__link-image(href="#")
            .aside__image-object
                .image-wrap
                    .image-wrap__zoom.image-wrap__zoom_obj
                        img.image-wrap__zoom-logo(alt="zoom" src="./assets/images/zoom.png")
    li.aside__item
        h4.aside__subject.aside__subject_obj Измайловский проезд, 10к2
        .aside__text.aside__text_obj
            p Срок: 15 дней
        a.aside__link-image(href="#")    
            .aside__image-object
                .image-wrap
                    .image-wrap__zoom.image-wrap__zoom_obj
                        img.image-wrap__zoom-logo(alt="zoom" src="./assets/images/zoom.png")
    li.aside__item
        h4.aside__subject.aside__subject_obj Дмитровское ш., д. 169
        .aside__text.aside__text_obj
            p Срок: 32 дня Стоимость: 246 000 грн.
        a.aside__link-image(href="#")
            .aside__image-object
                .image-wrap
                    .image-wrap__zoom.image-wrap__zoom_obj
                        img.image-wrap__zoom-logo(alt="zoom" src="./assets/images/zoom.png")
    li.aside__item
        h4.aside__subject.aside__subject_obj Ул. Турку д.11
        .aside__text.aside__text_obj
            p Срок: 12 дней. Стоимость: 57 980 грн.
        a.aside__link-image(href="#")
            .aside__image-object
                .image-wrap
                    .image-wrap__zoom.image-wrap__zoom_obj
                        img.image-wrap__zoom-logo(alt="zoom" src="./assets/images/zoom.png")
    li.aside__item
        h4.aside__subject.aside__subject_obj ул. Кораблестроителей
        .aside__text.aside__text_obj
            p Срок: 51 день Стоимость: 313 780 грн.
        a.aside__link-image(href="#")
            .aside__image-object
                .image-wrap
                    .image-wrap__zoom.image-wrap__zoom_obj
                        img.image-wrap__zoom-logo(alt="zoom" src="./assets/images/zoom.png")
    li.aside__item
        h4.aside__subject.aside__subject_obj пр.Маршала Блюхера д.9
        .aside__text.aside__text_obj
            p Срок: 47 дней. Стоимость: 171 985 грн.
        a.aside__link-image(href="#")
            .aside__image-object
                .image-wrap
                    .image-wrap__zoom.image-wrap__zoom_obj
                        img.image-wrap__zoom-logo(alt="zoom" src="./assets/images/zoom.png")
    li.aside__item
        h4.aside__subject.aside__subject_obj Александры Монаховойр 98 к 1
        .aside__text.aside__text_obj
            p Срок: 2 месяца. Стоимость 230 993 грн.
        a.aside__link-image(href="#")
            .aside__image-object
                .image-wrap
                    .image-wrap__zoom.image-wrap__zoom_obj
                        img.image-wrap__zoom-logo(alt="zoom" src="./assets/images/zoom.png")
    li.aside__item
        h4.aside__subject.aside__subject_obj Измайловский проезд, 10к2
        .aside__text.aside__text_obj
            p Срок: 15 дней
        a.aside__link-image(href="#")    
            .aside__image-object
                .image-wrap
                    .image-wrap__zoom.image-wrap__zoom_obj
                        img.image-wrap__zoom-logo(alt="zoom" src="./assets/images/zoom.png")
    li.aside__item
        h4.aside__subject.aside__subject_obj Дмитровское ш., д. 169
        .aside__text.aside__text_obj
            p Срок: 32 дня Стоимость: 246 000 грн.
        a.aside__link-image(href="#")
            .aside__image-object
                .image-wrap
                    .image-wrap__zoom.image-wrap__zoom_obj
                        img.image-wrap__zoom-logo(alt="zoom" src="./assets/images/zoom.png")
    li.aside__item
        h4.aside__subject.aside__subject_obj Ул. Турку д.11
        .aside__text.aside__text_obj
            p Срок: 12 дней. Стоимость: 57 980 грн.
        a.aside__link-image(href="#")
            .aside__image-object
                .image-wrap
                    .image-wrap__zoom.image-wrap__zoom_obj
                        img.image-wrap__zoom-logo(alt="zoom" src="./assets/images/zoom.png")
    li.aside__item
        h4.aside__subject.aside__subject_obj ул. Кораблестроителей
        .aside__text.aside__text_obj
            p Срок: 51 день Стоимость: 313 780 грн.
        a.aside__link-image(href="#")
            .aside__image-object
                .image-wrap
                    .image-wrap__zoom.image-wrap__zoom_obj
                        img.image-wrap__zoom-logo(alt="zoom" src="./assets/images/zoom.png")
    li.aside__item
        h4.aside__subject.aside__subject_obj пр.Маршала Блюхера д.9
        .aside__text.aside__text_obj
            p Срок: 47 дней. Стоимость: 171 985 грн.
        a.aside__link-image(href="#")
            .aside__image-object
                .image-wrap
                    .image-wrap__zoom.image-wrap__zoom_obj
                        img.image-wrap__zoom-logo(alt="zoom" src="./assets/images/zoom.png")
    li.aside__item
        h4.aside__subject.aside__subject_obj Александры Монаховойр 98 к 1
        .aside__text.aside__text_obj
            p Срок: 2 месяца. Стоимость 230 993 грн.
        a.aside__link-image(href="#")
            .aside__image-object
                .image-wrap
                    .image-wrap__zoom.image-wrap__zoom_obj
                        img.image-wrap__zoom-logo(alt="zoom" src="./assets/images/zoom.png")
    li.aside__item
        h4.aside__subject.aside__subject_obj Измайловский проезд, 10к2
        .aside__text.aside__text_obj
            p Срок: 15 дней
        a.aside__link-image(href="#")    
            .aside__image-object
                .image-wrap
                    .image-wrap__zoom.image-wrap__zoom_obj
                        img.image-wrap__zoom-logo(alt="zoom" src="./assets/images/zoom.png")
    li.aside__item
        h4.aside__subject.aside__subject_obj Дмитровское ш., д. 169
        .aside__text.aside__text_obj
            p Срок: 32 дня Стоимость: 246 000 грн.
        a.aside__link-image(href="#")
            .aside__image-object
                .image-wrap
                    .image-wrap__zoom.image-wrap__zoom_obj
                        img.image-wrap__zoom-logo(alt="zoom" src="./assets/images/zoom.png")
    li.aside__item
        h4.aside__subject.aside__subject_obj Ул. Турку д.11
        .aside__text.aside__text_obj
            p Срок: 12 дней. Стоимость: 57 980 грн.
        a.aside__link-image(href="#")
            .aside__image-object
                .image-wrap
                    .image-wrap__zoom.image-wrap__zoom_obj
                        img.image-wrap__zoom-logo(alt="zoom" src="./assets/images/zoom.png")
    li.aside__item
        h4.aside__subject.aside__subject_obj ул. Кораблестроителей
        .aside__text.aside__text_obj
            p Срок: 51 день Стоимость: 313 780 грн.
        a.aside__link-image(href="#")
            .aside__image-object
                .image-wrap
                    .image-wrap__zoom.image-wrap__zoom_obj
                        img.image-wrap__zoom-logo(alt="zoom" src="./assets/images/zoom.png")
    li.aside__item
        h4.aside__subject.aside__subject_obj пр.Маршала Блюхера д.9
        .aside__text.aside__text_obj
            p Срок: 47 дней. Стоимость: 171 985 грн.
        a.aside__link-image(href="#")
            .aside__image-object
                .image-wrap
                    .image-wrap__zoom.image-wrap__zoom_obj
                        img.image-wrap__zoom-logo(alt="zoom" src="./assets/images/zoom.png")