extends ../template

block variables
    - var title = 'Новости'

block content
    .wrapper
        header.header
            .header__top
                .header__wrap
                    .header__text Комплексные решения в сфере строительных услуг
                    .header__contacts
                        ul.contacts
                            li.contacts__item info@carral.com
                            li.contacts__item +00(123)456 78 90
                            li.contacts__item +00(123)456 78 90
            .header__main
                .header__logo
                    a.logo(href="index.html"): img.logo__img(alt="logo" src="./assets/images/logo.png")
                .menu
                    button(type="button").hamburger#openFull
                        .hamburger__menu
                    ul.menu__list
                        li.menu__item: a.menu__link(href="index.html") ГЛАВНАЯ
                        li.menu__item: a.menu__link(href="#") О КОМПАНИИ
                        li.menu__item: a.menu__link(href="service.html") УСЛУГИ
                        li.menu__item: a.menu__link(href="objects.html") ОБЪЕКТЫ
                        li.menu__item.active: a.menu__link(href="news.html") НОВОСТИ
                        li.menu__item: a.menu__link(href="#") ДОКУМЕНТЫ
                        li.menu__item: a.menu__link(href="#") КОНТАКТЫ
        .crumbs
            ul.crumbs__list
                li.crumbs__item
                    a.crumbs__link(href="index.html"): img.crumbs__breadcrumbs(alt="home" src="./assets/images/home.png")
                li.crumbs__item
                    a.crumbs__link(href="#"): img.crumbs__breadcrumbs.crumbs__breadcrumbs_arrow(alt="arrow" src="./assets/images/arrow.png")    
                li.crumbs__item 
                    a.crumbs__link(href="news.html") 
                        .crumbs__breadcrumbs Новости   
                li.crumbs__item
                    a.crumbs__link(href="#"): img.crumbs__breadcrumbs.crumbs__breadcrumbs_arrow(alt="arrow" src="./assets/images/arrow-left.png")
                li.crumbs__item 
                    a.crumbs__link(href="#") 
                        .crumbs__breadcrumbs Новость такая то
        section.section.blog
            h1.visuallyhidden Blog
            .blog__content
                .blog__main
                    h2.blog__title Новость такая то
                    //.blog__text
                    p Идейные соображения высшего порядка, а также консультация с широким активом способствует подготовки и реализации дальнейших направлений развития. Значимость этих проблем настолько очевидна, что постоянное информационно-пропагандистское обеспечение нашей деятельности влечет
                    p: img.blog__pic(alt="image-blog" src="./assets/images/blog-image-1.jpg")
                    //.blog__text
                    p Идейные соображения высшего порядка, а также консультация с широким активом способствует подготовки и реализации дальнейших направлений развития. Значимость этих проблем настолько очевидна, что постоянное информационно-пропагандистское обеспечение нашей деятельности влечет за собой процесс внедрения и модернизации модели развития.
                    p: img.blog__pic(alt="image-blog" src="./assets/images/blog-image-2.jpg")
                    //.blog__text
                    p Идейные соображения высшего порядка, а также консультация с широким активом способствует подготовки и реализации дальнейших направлений развития. Значимость этих проблем настолько очевидна, что постоянное информационно-пропагандистское обеспечение нашей деятельности влечет за собой процесс внедрения и модернизации модели развития.
                        |   Разнообразный и богатый опыт начало повседневной работы по формированию позиции требуют от нас анализа соответствующий условий активизации. Равным образом консультация с широким активом позволяет выполнять важные задания по разработке дальнейших направлений развития. Товарищи! постоянный количественный рост и сфера нашей активности влечет за собой процесс внедрения и модернизации модели развития. Равным образом укрепление и развитие структуры требуют от нас анализа направлений прогрессивного развития. Не следует, однако забывать, что сложившаяся структура организации позволяет оценить значение систем массового участия. Не следует, однако забывать, что реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие в формировании системы обучения кадров, соответствует насущным потребностям.
                    .blog__date 28.09.2018
                aside.aside
                    h3.aside__title Другие новости
                    .aside__image
                    h4.aside__subject Обеспечение нашей деятельности и идейные соображения 
                    //.aside__text
                    p Идейные соображения высшего порядка, а также консультация с широким активом способствует подготовки и... информационно-пропагандистское 
                    .aside__button: a.aside__link(href="news.html") Подробнее
        footer.footer
            .footer__content
                .footer__info
                    .footer__logo
                        a.logo(href="index.html"): img.logo__img(alt="logo" src="./assets/images/logo-footer.png")
                    .footer__text Комплексные решения в сфере строительных услуг
                    .footer__copy © 2018 Строительная компания "Каррал".
                .footer__nav
                    h3.footer__nav-title Навигация
                    ul.footer__nav-list
                        li.footer__nav-item: a.footer__nav-link(href="index.html") Главная
                        li.footer__nav-item: a.footer__nav-link(href="service.html") Услуги
                        li.footer__nav-item.active: a.footer__nav-link(href="news.html") Новости
                        li.footer__nav-item: a.footer__nav-link(href="#") Контакты
                        li.footer__nav-item: a.footer__nav-link(href="#") О компании
                        li.footer__nav-item: a.footer__nav-link(href="objects.html") Объекты
                        li.footer__nav-item: a.footer__nav-link(href="#") Документы