.aside-nav {
    padding-top: 20px;
}

.aside-nav__item {
    margin-bottom: 20px;
}

.aside-nav__link {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Open Sans bold';
    font-size: 13px;
    color: #000000;
    transition: .2s;

    &:hover {
        color: #c32328;
    }
}

.aside-nav__link.active {
    color: #c32328;
}